<h2>Add / Assign Twitter users</h2>
<p>Enter a string of users separated by whitespace (including line breaks).</p>
<textarea id="tweeter-add-text"></textarea><br />
<button class = "btn btn-default btn-lg" id = "tweeter-add-btn">Add</button>